* {
	overflow: hidden;
}

a, u {
    text-decoration: none;
	color: inherit;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	margin: 0;
	margin-bottom: 5pt;
}


.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(168px, auto));
	align-items: start;
	gap: 5pt;
	box-sizing: border-box;
}

.thumbnail {
	object-fit: cover;
	object-position: center;
	width: 168px;
	height: 94px;
	overflow: hidden;
}

.videoInfo {
	overflow: hidden;
}

.videoInfo p {
	margin: 0;
	padding: 0 0 5pt 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.title {
	color: white;
	font-size: large;
	font-weight: bold;
}

.provider {
	font-size: small;
}

.author {

}