/* 
Responsive player
Set ReactPlayer's width and height to 100% and wrap the player in a fixed aspect ratio box to get a responsive player: 
*/
.playerWrapper {
	position: relative;
	background-color: black;
	box-shadow: 0pt 0pt 4pt rgba(0, 0, 0, 0.33);
	padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.reactPlayer {
	position: absolute;
	top: 0;
	left: 0;
}