.center {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

input {
	background-color: #212121;
	color: white;
	width: 100%;
	height: 30pt;
	margin: 10pt -1pt 10pt 0pt;
	padding-left: 10pt;
	border: 1pt solid #4D4D4D;
	border-radius: 2pt 0pt 0pt 2pt;
	font-size: large;
}

input:focus {
	outline:none;
}

button {
	background-color: #181818;
	color: #7F8989;
	height: 33pt;
	border: 1pt solid #4D4D4D;
	border-radius: 0pt 2pt 2pt 0pt;
	font-size: large;
}

/* 
Responsive player
Set ReactPlayer's width and height to 100% and wrap the player in a fixed aspect ratio box to get a responsive player: 
*/
.playerWrapper {
	position: relative;
	background-color: black;
	padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.reactPlayer {
	position: absolute;
	top: 0;
	left: 0;
}