.center {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.searchInput, .searchButton {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
	height: 30pt;
	border: 1pt solid #4D4D4D;
	font-size: large;
	margin: 10pt 0pt;
}

.searchInput {
	background-color: #212121;
	color: white;
	border-radius: 2pt 0pt 0pt 2pt;
	width: 100%;
	margin-right: -1pt;
	padding-left: 10pt;
}

/* Disable ugly selection rectangle */
.searchInput:focus {
	outline:none;
}

.searchButton {
	background-color: #181818;
	color: #7F8989;
	border-radius: 0pt 2pt 2pt 0pt;
}

.searchForm:hover input {
	background-color: #181818;
}
.searchForm:hover button {
	background-color: #0f0f0f;
}