.App {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  color: #7F8989;
}

.Video {
	width: 50%;
	height: 100%;
}